.wrapper {
  margin: 0 10%;
}

.userList {
  padding: 2.5% 0;
  text-align: center;
}

.userList h5 {
  padding: 2.5%;
}

#user {
  margin: 0 10%;
}

.accountButton {
  margin: 2.5% 0 5%;
  margin-right: 2.5%;
}
